@if ((movieDetail$ | async); as movieDetail) {
  <section class="container">
    <section class="trailer">
      <iframe width="100%"
              height="100%"
              [src]="movieDetail.trailer"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
      </iframe>
    </section>
    <section class="actions">
      <mat-slide-toggle [checked]="movieDetail.onWatchList"
                        (change)="onChangeWatchList($event,movieDetail)"
                        labelPosition="before">
          on Whatchlist
      </mat-slide-toggle>

      <button mat-fab
              color="warn"
              routerLink="/"
              class="btn-back">
        <
      </button>
    </section>
    <section class="detail">
      <div class="first">
        <div>
          <span>
            <strong>
              Title:
            </strong>
            {{movieDetail.title}}
          </span>
          <span>
            <strong>
              Rating:
            </strong>
            {{movieDetail.rating}}</span>
          <span>
            <strong>
              Genere:
            </strong>
            {{movieDetail.genre}}</span>
        </div>
        <div>
          <span>
            <strong>
              Released:
            </strong>
            {{movieDetail.released_date}}</span>
          <span>
            <strong>
              Duration:
            </strong>
            {{movieDetail.duration}}</span>
        </div>
      </div>

      <div class="second">
        <span>
          <strong>
            Description:
          </strong>
        </span>
        <span>{{movieDetail.description}}</span>
      </div>

    </section>

</section>
}
